    
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="http://localhost:5000/admin">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
        
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:5000/employes">Employes</a>
            </li>
        
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:5000/responsables">Responsables</a>
            </li>
       
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:5000/candidats">Candidats</a>
            </li>    

            <li class="nav-item">
                <a class="nav-link" href="http://localhost:5000/"><strong>Logout</strong></a>
              </li>
          </ul>
        </div>  
      </nav>

