<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <% include includes/scripts %>
</head>

<body>
  <h1><%= title %></h1>
<h3><%= msg %></h3>

  <div class="card">
    <div class="card-body">
      <a href="http://localhost:5000/admin">Espace ADMIN</a>
    </div> 
  </div>


  <div class="card">
    <div class="card-body">
      <a href="http://localhost:5000/formulaire">Espace candidats</a>
    </div> 
  </div>

  <div class="card">
    <div class="card-body">
      <a href="http://localhost:5000/listEntretiens">Espace responsables</a>
    </div> 
  </div>



</body>



</html>